.new-post{
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
}
.new-post header,
.posts header{
    margin-bottom: 20px;
}
.posts .post {
    padding-left: 10px;
    border-left: 3px solid #2a88bd;
    margin-bottom: 30px;
}
.posts .post .info{
    color: #aaa;
    font-style: italic;
    padding-left: 10px;
    border-left: 3px solid #2a88bd;
    margin-bottom: 30px;
}
.error{
    border:1px solid;
}
.success {
    border: 1px solid green;
}
